<html>
<head>
    <title>superlabel</title>
    <link rel="stylesheet" href="./static/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="static/js/home.js"></script>
</head>
<body onload="onLoad();">
    <div class="title">superlabel</div>
    <div class="content_div">
        <canvas id="preview_img" class="canvas_preview_img"></canvas>
        <div class="input_form">
            <input type="text" id="input_label" name="firstname" placeholder="label..." onblur="this.focus()" autofocus>
        </div>
    </div>
</body>
</html>
